@model Szlem.Domain.EmailAddress
@{
}

<div class="form-group">
    <label asp-for="@Model" class="control-label"></label>
    <span asp-validation-for="@Model" class="text-danger"></span>
    <input asp-for="@Model" class="form-control" />
</div>
