@page
@model Szlem.AspNetCore.Areas.Admin.Pages.EventsManagementModel
@{
}

<form asp-page-handler="ExportEventsFromFilesStoreToCsv">
    <input type="submit" class="btn btn-secondary" value="Eksportuj eventy z FileStore do CSV" />
</form>