@model Szlem.Recruitment.Enrollments.GetEnrollmentDetails.CandidateAcceptedTrainingInvitationEventData
@using Szlem.AspNetCore.Views

<div class="card border-info">
    <div class="card-header alert-info"> <i class="far fa-check-circle"></i> Kandydat zaakceptował zaproszenie na szkolenie</div>
    <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(model => model.DateTime.LocalDateTime)</h6>
        <div class="card-text">
            <dl class="row">
                @Html.DlFullRowOrEmptyValue(model => model.RecordingUser, "brak")
                @Html.DlFullRowOrEmptyValue(model => model.SelectedTraining, "brak")
                @Html.DlFullRowOrEmptyValue(model => model.AdditionalNotes, "brak")
            </dl>
        </div>
    </div>
</div>